.reviews {
    z-index: 1;
    position: relative;
    margin-left: 240px;
    margin-top: 40px;
    width: 80.5%;
    top: 68px;
    margin-bottom: 24px;

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__search {
        position: relative;
    }

    &__searchBar {
        width: 231px;
        height: 32px;
        border-radius: 4px;
        border: 1px solid $color-primary;
    }

    &__searchIcon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    textarea, input {
        padding-left: 38px;
        padding-right: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    
    table {
        border-collapse: collapse;
        width: auto;
    }
    th, td {
        border: 1px solid #EAECF0;
        padding: 15.5px 16px;
        text-align: left;
        height: 50px;
    }

    th {
        font-size: 16px;
        font-weight: 600;
    }

    .date, .areas  {
        width: 181px;
    }

    .name {
        width: 233px;
    }

    .review {
        width: 261px;
    }

    .view, .status {
        width: 140px;
    }

    .reviews__blank {
        width: 24px;
        height: 50px;
        padding: 4px;
    }
    
    td {
        font-size: 16px;
        font-weight: 400;
    }

    .approved {
        color: #52BD94;
    }

    .declined {
        color: #D14343;
    }

    .pending {
        color: #EAB221;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 24px;
        margin-bottom: 40px;
    }
    &__pagination {
        font-size: 14px;
        font-weight: 500;
    }

    &__paginationLink1 {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 40px;
        padding: 12px; 
        border-radius: 20px; 
        background-color: #F0F4FD; 
        text-decoration: none;
        color: #3366FF;
    }

    &__paginationLink {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 40px;
        padding: 12px; 
        border-radius: 20px; 
        text-decoration: none;
        color: #667085;
    }

    &__message {
        top: -92%;
        left: 35.6%;
        width: 339px;
        height: 50px;
        font-size: 14px;
        font-weight: 500;
        line-height: 0.9;
        position: relative;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        pointer-events: none;
        
    }

    &__success{
        font-size: 20px;
        color: #0F920F;
        position: absolute;
        animation: fadeIn 2s ease forwards, 
                   fadeOut 2s ease 3s forwards; 
        padding: 16px;
        border: 0.5px solid #0F920F;
        background-color: #F2FDF2;
        border-radius: 6px;
        box-shadow: 0px 16px 40px rgba(5, 66, 5, 0.08);
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1; 
        }
    }
    
    @keyframes fadeOut {
        50% {
            opacity: 1; 
        }
        100% {
            opacity: 0; 
        }
    }
}